.containerGr {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.grafo {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.listC {
  flex: 1;
  /* border: 1px solid black; */
}

.listaContainer {
  /* border: 1px solid black; */
  flex: 1;
}
